@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-yellow: #FFA336;
    --color-yellow-light: #FFAC4B;
    --color-red: #9C002F;
    --color-red-dark: #61001D;
    --color-red-light: #DA0041;
    --color-blue: #185494;
    --color-gray: #494846;
    
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}