.restaurants {
  background-color: var(--color-red);
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.restaurants__title {
  font-size: 5rem;
  padding-top: 2rem;
  color: var(--color-yellow);
  text-shadow: 0 3px 6px rgba(0,0,0,0.5);
}
.restaurants__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
  padding: 2rem 0;
}

.restaurants__item {
  text-align: center;
  background-color: var(--color-white-pink);
  border-radius: 3rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  padding: 0 5rem;
  position: relative;
}

.restaurants__item::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 8rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: var(--color-white-pink);
  left: 20%;
  top: -27.5%;
}

.restaurants__item__title {
  font-size: 3.5rem;
  padding: 2rem 0;
  z-index: 1;
}
.restaurants__title__mc {
  color: var(--color-yellow);
}
.restaurants__title__kfc {
  color: var(--color-red);
}
.restaurants__title__burger {
  color: var(--color-blue);
}

.restaurants__img {
  width: 30rem;
}